@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-appearance 1.6s ease-in;
  height: 80px;
  background: white;
  padding: 15px 0;
  border-radius: 3px;
}
.App-header {
  background-color: #1B4691;
  padding: 20px;
  color: white;
  margin-bottom: 30px;
}
.App-header h2 {
  margin: 15px 0 0;
}
@keyframes App-logo-appearance {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
