.button__wrapper {
    display: inline-block;
}
.button__element {
    font-size: 10px;
    text-decoration: none;
    padding: 7px 12px;
    font-weight: 500;
    background: none;
    border: 2px solid #1E58FF;
    color: #1E58FF;
    cursor: pointer;
    line-height: 1;
    height: 31px;
}
.button__element.secondary {
    background-color: #1e58ff;
    color: white;
    font-weight: 700;
    font-size: .8em; 
    box-shadow: 0 5px 20px -5px #818181;
}