.title {
    color: #1E58FF;
    font-weight: 700;
    margin: 0 0 10px;
}
.premium {
    font-size: 10px;
    color: #222;
    background-color: yellow;
    position: relative;
    top: -10px;
    padding: 2px;
    border-radius: 2px;
    left: 2px;
}